*{
    width:200px;
    height: 200px;
}



.div1{
    background: linear-gradient(225deg,red,green,blue);
}

.div2{
    background-image: linear-gradient(-70deg, yellow 0%, purple 25%);
}

p{
    background: linear-gradient( rgba(255,255,255),rgba(0,0,0,0.5));
}

.radial{
    background: radial-gradient(rgb(145, 191, 245),rgb(228, 196, 201) 50%);
}

.radial2{
    background: repeating-radial-gradient(black,white 10px);
}

.radial2:hover{
    background: repeating-radial-gradient(white,black 10px);
}
